@model IEnumerable<TOSS_UPGRADE.Models.FM_ChartOfAccounts.RevisionYearList>
@{
    DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;
<table class="table table-striped zero-configuration table-bordered text-center table-smss-hover no-footer m-0 w-100">
    <thead class="text-center">
        <tr>
            <th>Revision Year</th>
            <th>Is Used?</th>
            <th>Remarks</th>
            <th width="5px">Action</th>
        </tr>
    </thead>
    <tbody class="text-center">
        @{
            foreach (var Items in Model)
            {
                var DeleteConfirmationMess = "Are you sure do you want to delete this?";
                var DeleteSuccesMess = "Successfully Deleted";

                var ViewEdit = "<button class=\"btn btn-icon btn-block black bg-addbutton border-0\" type=\"button\"onclick=\"AngularGlobalEdit('FMRevisonYearController','Get_UpdateRevisionYear','" + @Items.RevisionYearID + "')\"><i class='ft-edit mr-1'></i><b>Edit</b></button>";
                var ViewDelete = "<button class=\"btn btn-icon white btn-block bg-headerbc  border-0\" type=\"button\" onclick=\"swalConfirmation('" + @DeleteConfirmationMess + "', '','" + @DeleteSuccesMess + "','AngularGlobalDelete(" + @Items.RevisionYearID + ",&quot;Get_DeleteRevisionYear&quot;,&quot;FMRevisonYearController&quot;)')\"> <i class='ft-delete mr-1'></i><b>Delete</b></button>";
                var ActionContentProgram = ViewEdit + ViewDelete;
        <tr>
            <td>@Items.RevisionYear</td>
            <td>
                @{
                    var IsUsed = "";
                    if (Items.IsUsed == true)
                    {
                        IsUsed = "Yes";
                    }
                    else if (Items.IsUsed == false)
                    {
                        IsUsed = "No";
                    }
                }
                @IsUsed
            </td>
            <td class="text-left">@Items.Remarks</td>
            <td width="10%">
                <button type="button" onfocusout="PopoveLostFocus()" class="btn btn-sm btn-warning popover-trigger" data-toggle="popover" data-content="@ActionContentProgram"
                        data-original-title="" data-html="true" data-placement="right">
                    <i class="la la-bars"></i>
                </button>
            </td>
        </tr>
            }
        }
    </tbody>
</table>

<script>
    $(function () {
        LoadDataTable();
        LoadPopOver();
    })
</script>
