@model IEnumerable<TOSS_UPGRADE.Models.FM_ResponsibilityCenter.DepartmentList>
@{
    DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;

<div class="col-md-12">
    <table class="table table-striped table-responsive zero-configuration table-bordered text-center table-smss-hover no-footer m-0 w-100">
        <thead class="text-center">
            <tr>
                <th>Department</th>
                <th>Department Abbreviation</th>
                <th>Responsibility Center Code</th>
                <th>Fund</th>
                <th>Sector</th>
                <th>Sub Sector</th>
                <th>Office Type</th>
                <th>Department Office Code</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            @{
                foreach (var Items in Model)
                {
                    var DeleteConfirmationMess = "Are you sure do you want to delete this?";
                    var DeleteSuccesMess = "Department Deleted";

                    var ViewEdit = "<button class=\"btn btn-icon btn-block black bg-addbutton border-0\" type=\"button\" onclick=\"AngularGlobalEdit('FMDepartmentController','Get_UpdateDepartment','" + @Items.DepartmentID + "')\"><i class='ft-edit mr-1'></i><b>Edit</b></button>";
                    var ViewDelete = "<button class=\"btn btn-icon white btn-block bg-headerbc  border-0\" type=\"button\" onclick=\"swalConfirmation('" + @DeleteConfirmationMess + "', '" + @Items.DepartmentName + "','" + @DeleteSuccesMess + "','AngularGlobalDelete(" + @Items.DepartmentID + ",&quot;Get_DeleteDepartment&quot;,&quot;FMDepartmentController&quot;)')\"> <i class='ft-delete mr-1'></i><b>Delete<b></button>";
                    var ActionContentProgram = ViewEdit + ViewDelete;
                    <tr>
                        <td>@Items.DepartmentName</td>
                        <td>@Items.DepartmentAbbreviation</td>
                        <td>@Items.ResponsibilityCode</td>
                        <td>@Items.FundName</td>
                        <td>@Items.Sector</td>
                        <td>
                            @{
                                var SubID = Items.SubSector;
                                var SubSector = (from e in SISDB.SubSectors where e.SubSectorID == SubID select e).FirstOrDefault();
                                var TDValue = "";
                                if (SubSector == null)
                                {
                                    TDValue = "N/A";
                                }
                                else
                                {
                                    TDValue = SubSector.SubSectorName;
                                }
                            }
                            @TDValue
                        </td>
                        <td>@Items.OfficeType</td>
                        <td>@Items.DepartmentCode</td>
                        <td>
                            <button type="button" onfocusout="PopoveLostFocus()" class="btn btn-sm btn-warning popover-trigger" data-toggle="popover" data-content="@ActionContentProgram"
                                    data-original-title="" data-html="true" data-placement="right">
                                <i class="la la-bars"></i>
                            </button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<script>
    $(function () {
        LoadDataTable();
        LoadPopOver();
    })
</script>