@model IEnumerable<TOSS_UPGRADE.Models.FM_Bank.BankList>
@{
    DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;
<div class="col-md-12">
    <table class="table table-striped zero-configuration table-bordered text-center table-smss-hover no-footer m-0 w-100">
        <thead class="text-center">
            <tr>
                <th><b>Bank Name</b></th>
                <th><b>Bank Code</b></th>
                <th><b>Bank Address</b></th>
                <th><b>Action</b></th>
            </tr>
        </thead>
        <tbody class="text-center">
            @{
                foreach (var Items in Model)
                {
                    var DeleteConfirmationMess = "Are you sure do you want to delete this?";
                    var DeleteSuccesMess = "Successfully Deleted";

                    var ViewEdit = "<button class=\"btn btn-icon btn-block black bg-addbutton border-0\" type=\"button\"onclick=\"AngularGlobalEdit('FMBankController','Get_UpdateBank','" + @Items.BankID + "')\"><i class='ft-edit mr-1'></i><b>Edit</b></button>";
                    var ViewDelete = "<button class=\"btn btn-icon white btn-block bg-headerbc  border-0\" type=\"button\" onclick=\"swalConfirmation('" + @DeleteConfirmationMess + "', '','" + @DeleteSuccesMess + "','AngularGlobalDelete(" + @Items.BankID + ",&quot;Get_DeleteBank&quot;,&quot;FMBankController&quot;)')\"> <i class='ft-delete mr-1'></i><b>Delete</b></button>";
                    var ActionContentProgram = ViewEdit + ViewDelete;
                    <tr>
                        <td>@Items.BankName</td>
                        <td>@Items.BankCode</td>
                        <td>@Items.BankAddress</td>
                        @*<td>
                        <button class="buttonEf iconhoverEdit" onclick="AngularGlobalEdit('FMCollectionDepositController','Get_UpdateAccountableForm','@Items.AccountFormID')"><i class="ft-edit"></i></button>
                        <button class="buttonEf iconhoverDelete" onclick="swalConfirmation('@DeleteConfirmationMess','','@DeleteSuccesMess', 'AngularGlobalDelete(@Items.AccountFormID ,&quot;Get_DeleteAccountableForm&quot;,&quot;FMCollectionDepositController&quot;)')"><i class="ft-delete"></i></button>
                    </td>*@
                        <td>
                            <button type="button" onfocusout="PopoveLostFocus()" class="btn btn-sm btn-warning popover-trigger" data-toggle="popover" data-content="@ActionContentProgram"
                                    data-original-title="" data-html="true" data-placement="right">
                                <i class="la la-bars"></i>
                            </button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<script>
    $(function () {
        LoadDataTable();
        LoadPopOver();
    })
</script>