@model TOSS_UPGRADE.Models.FM_AccountableForm.FM_AccountableForm
@{
    /**/

    DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;

@using (Ajax.BeginForm("UpdateAccountableForm", "FileMaintenanceAccountableForm", new AjaxOptions { OnSuccess = "AngularGlobalAlertsCallingNoModal('FMAccountableFormController','Get_AccountableFormTable','Accountable Form Update Successfully')", OnFailure = "OnFailure()", }))
{
    @Html.HiddenFor(m => m.getAccountableFormcolumns.AccountFormID, new { })
    @Html.HiddenFor(m => m.DescriptionTempID, new { id = "DescriptionTempID" })
    <div class="row black">
        <div class="col-md-2"></div>
        <div class="col-md-4 form-group">
            <label><b>Accountable Form</b></label>
            @Html.TextBoxFor(m => m.getAccountableFormcolumns.AccountFormName, new { @class = "form-control", type = "text" })
        </div>
        <div class="col-md-2 form-group">
            <label><b>For CTC</b></label>
            <select class="form-control" id="isForCTCDD" onchange="isForCTCOnChange()">
                <option value="True">Yes</option>
                <option value="False">No</option>
            </select>
            @Html.HiddenFor(m => m.isForCTCID, new { id = "isForCTCID" })
        </div>
        <div class="col-md-2 form-group">
            <label><b>Quantity Value</b></label>
            @Html.TextBoxFor(m => m.getAccountableFormcolumns.QuantityValue, new { @class = "form-control text-right", type = "text" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5 form-group" id="_DescriptionID">
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-6">
                    <label style="visibility:hidden">Description</label>
                    <button type="submit" class="btn bg-addbutton black form-control"><b>Add</b></button>
                </div>
                <div class="col-md-6">
                    <label style="visibility:hidden">Description</label>
                    <button type="reset" class="btn form-control white bg-headerbc" onclick="AngularGlobalEdit('FMAccountableFormController','Get_AddAccountableForm','')"><b>Cancel</b></button>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(function () {
        $("#isForCTCDD").val($("#isForCTCID").val());
    })
    function isForCTCOnChange() {
        var isForCTCValue = $("#isForCTCDD").val();
        $("#isForCTCID").val(isForCTCValue);
    }
</script>

