@model TOSS_UPGRADE.Models.FM_AccountableForm.FM_AccountableFormInventory
@{
    DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;
@using (Ajax.BeginForm("AddAccountableFormInventory", "FileMaintenanceAccountableForm", new AjaxOptions { OnSuccess = "AngularGlobalAlertsCallingNoModal('FMAccountableFormController','Get_InvtAccountableFormTable','Accountable Form Inventory Successfully Saved')", OnFailure = "OnFailure()", }))
{
    <div class="row">
        <div class="col-md-4 form-group" id="_ORAFID">
        </div>
        <div class="col-md-4 form-group">
            <label>Starting Stub No.</label>
            @Html.TextBoxFor(m => m.getAccountableFormInvtcolumns.StubNo, new { @class = "form-control", type = "text", id = "txtORInvStubNo" })
        </div>
        <div class="col-md-4 form-group">
            <label>Number of Stubs</label>
            @Html.TextBoxFor(m => m.getAccountableFormInvtcolumns.Quantity, new { @class = "form-control", type = "text", id = "txtORInvStub" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 form-group">
            <label>Starting OR</label>
            @Html.TextBoxFor(m => m.getAccountableFormInvtcolumns.StartingOR, new { @class = "form-control", type = "text", id = "txtORInvStrtOR" })
        </div>
        <div class="col-md-4 form-group">
            <label>Ending OR</label>
            @Html.TextBoxFor(m => m.getAccountableFormInvtcolumns.EndingOR, new { @class = "form-control", type = "text", id = "txtORInvEndOR", @readonly = "readonly" })
        </div>
        <div class="col-md-4 form-group">
            <label>OR Date</label>
            @Html.TextBoxFor(m => m.getAccountableFormInvtcolumns.Date, new { @class = "form-control pickadate", type = "text", id = "txtORInvDate" })
        </div>
    </div>
  
    <div class="" id="NewOR"></div>
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-2">
            <button type="button" class="btn black bg-addbutton form-control" id="show-button" onclick="SaveORTable()"><b>Add</b></button>
            <button type="button" class="btn black bg-addbutton form-control" onclick="SaveBulk()" id="_SaveButtonID"><b>Save Bulk</b></button>
            <button type="submit" class="btn black bg-addbutton form-control" id="SaveButton"><b>Submit</b></button>

        </div>
        <div class="col-md-2"><button type="reset" class="btn white bg-headerbc form-control" id="hide-button"><b>Cancel</b></button></div>
    </div>
}
<style>
    #show-button {
        cursor: pointer;
    }

    #_SaveButtonID {
        cursor: pointer;
        display: none;
    }
</style>
<script>
    $(document).ready(function () {
        $("#show-button").click(function () {
            $("#_SaveButtonID").show()
            $("#show-button").hide()
        });
        $("#hide-button").click(function () {
            $("#show-button").show()
            $("#_SaveButtonID").hide()
            $('#ORTableID').DataTable().clear().draw();
        });
    });
    $(function () {
        LoadDataTable();
        LoadPopOver();
        LoadPickDatetime();
    })
    $("#txtORInvStrtOR").change(function () {
        var startNo = $("#txtORInvStrtOR").val();
        var countStartNo = startNo.toString().length;
        var qty = "50";
        var startNoQty = parseFloat($("#txtORInvStrtOR").val()) + parseFloat($("#txtORInvStub").val() * qty - parseFloat(1));
        var countEndNo = startNoQty.toString().length;
        var number = "";

        for (i = 1; i < countStartNo; i++) {
            number += "0";
        }

        var countZero = number.toString().length;
        var res = number.toString().substring(0, countZero - countEndNo) + startNoQty;
        
        if ($("#txtORInvStrtOR").val() == "") {
            $("#txtORInvEndOR").val("");
        } else {
            $("#txtORInvEndOR").val(res);
        }
    });
    function removeRow(e) {
        $('#ORTableID').DataTable().row($(e).parents('tr')).remove().draw(false);
    };
    var ORarray = [];
    var NewORModel = "";
    var m = 0;
    function SaveORTable() {
        var ORTableDatas =
        {
            "Count": x,
            "StubNum": $("#txtORInvStubNo").val(),
            "StrtStub": $("#txtORInvStrtOR").val(),
            "EndStub": $("#txtORInvEndOR").val(),
            "formType": $("#AFIDDD option:selected").text(),
            "orDate": $("#txtORInvDate").val(),
            "Quantity": qty,
            "IsIssued": isIssued,
        }
        ORarray.push(ORTableDatas);
        var BodyContent = '';
        var x = 1;
        var qty = 50;
        var isIssued = "No";
        $.each(ORarray, function (index, value) {
             for (i = 1; i <= $('#txtORInvStub').val(); i++) {
                var startStubNoF = parseFloat((qty * (value.StubNum - 1)) + parseFloat(value.StrtStub));
                if (startStubNoF < 0) {
                    startStubNoF = startStubNoF * -1;
                }
                var EndStubNoF = parseFloat((startStubNoF + parseFloat(qty)) - 1);
                BodyContent += '<tr><td>' + value.formType + '</td>'
                BodyContent += '<td>' + value.StubNum + '</td>'
                BodyContent += '<td>' + startStubNoF + '</td>'
                BodyContent += '<td>' + EndStubNoF + '</td>'
                BodyContent += '<td>' + qty + '</td>'
                BodyContent += '<td>' + value.orDate + '</td>'
                BodyContent += '<td>' + isIssued + '</td>'
                BodyContent += '<td><i title="Delete" class="ft-delete danger cursor-pointer font-large-1" onclick=\'removeRow(' + index + ' )  \'></i></td></tr >'
                x++;
                value.StubNum++;
            }
        })
        $('#ORtbody').html(BodyContent);
        //LoadDataTable();
    }
    function SaveBulk() {
        $.each(ORarray, function (index, value) {
            NewORModel += "<input type='hidden' name='getAccountableFormInvtcolumnsList[" + m + "].Date' value='" + value.Date + "' id='CriminalStatus" + m + "'/>"
            NewORModel += "<input type='hidden' name='getAccountableFormInvtcolumnsList[" + m + "].StubNo' value='" + value.StubNum + "' id='Place" + m + "'/>"
            NewORModel += "<input type='hidden' name='getAccountableFormInvtcolumnsList[" + m + "].StartingOR' value='" + value.startStubNoF + "' id='DateFiled" + m + "'/>"
            NewORModel += "<input type='hidden' name='getAccountableFormInvtcolumnsList[" + m + "].EndingOR' value='" + value.EndStubNoF + "' id='TimeFiled" + m + "'/>"
            NewORModel += "<input type='hidden' name='getAccountableFormInvtcolumnsList[" + m + "].Quantity' value='" + value.qty + "' id='TimeFiled" + m + "'/>"
            
            $("#NewOR").html(NewORModel);
            m++;
        });
        $('#SaveButton').click()
    }
</script>

