@model TOSS_UPGRADE.Models.FM_AccountableForm.FM_AccountableFormInventory
@{
    /**/

    DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;
@using (Ajax.BeginForm("AddAccountableFormInventory", "FileMaintenanceAccountableForm", new AjaxOptions { OnSuccess = "AngularGlobalAlertsCallingNoModal('FMAccountableFormController','Get_InvtAccountableFormTable','Accountable Form Inventory Successfully Saved')", OnFailure = "OnFailure()", }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.hidORInventoryQuantity, new { id = "txtORInvQuantityValue" })
    <div class="row">
        <div class="col-md-4 form-group" id="_ORAFID">
        </div>
        <div class="col-md-4 form-group">
            <label>Starting Stub No.</label>
            @Html.TextBoxFor(m => m.getAccountableFormInvtcolumns.StubNo, new { @class = "form-control", type = "text", id = "txtORInvStubNo" })
        </div>
        <div class="col-md-4 form-group">
            <label>Number of Stubs</label>
            @Html.TextBoxFor(m => m.getAccountableFormInvtcolumns.Quantity, new { @class = "form-control", type = "text", id = "txtORInvStub" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 form-group">
            <label>Starting OR</label>
            @Html.TextBoxFor(m => m.getAccountableFormInvtcolumns.StartingOR, new { @class = "form-control", type = "text", id = "txtORInvStrtOR" })
        </div>
        <div class="col-md-4 form-group">
            <label>Ending OR</label>
            @Html.TextBoxFor(m => m.getAccountableFormInvtcolumns.EndingOR, new { @class = "form-control", type = "text", id = "txtORInvEndOR", @readonly = "readonly" })
        </div>
        <div class="col-md-4 form-group">
            <label>OR Date</label>
            @Html.TextBoxFor(m => m.getAccountableFormInvtcolumns.DateIssued, new { @class = "form-control pickadate", type = "text", id = "txtORInvDate" })
        </div>


    </div>
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-2">
            <button type="button" class="btn black bg-addbutton form-control" id="show-button" onclick="SaveORTable()"><b>Add</b></button>
            <button type="button" class="btn black bg-addbutton form-control" onclick="SaveBulk()" id="_SaveButtonID"><b>Save Bulk</b></button>
            <button type="submit" class="btn black bg-addbutton form-control d-none" id="btnSave"><b>Submit</b></button>
        </div>
        <div class="col-md-2"><button type="reset" class="btn white bg-headerbc form-control" id="hide-button"><b>Cancel</b></button></div>
    </div>
    <div class="" id="NewOR"></div>
}
<style>
    #show-button {
        cursor: pointer;
    }

    #_SaveButtonID {
        cursor: pointer;
        display: none;
    }
</style>
<script>
    $(function () {
        LoadDataTable();
        LoadPopOver();
        LoadPickDatetime();
    })
    $("#txtORInvStrtOR").change(function () {
        var startNo = $("#txtORInvStrtOR").val();
        var countStartNo = startNo.toString().length;
        var qty = $("#txtORInvQuantityValue").val();
        var startNoQty = parseFloat($("#txtORInvStrtOR").val()) + parseFloat($("#txtORInvStub").val() * qty - parseFloat(1));
        var countEndNo = startNoQty.toString().length;
        var number = "";

        for (i = 1; i < countStartNo; i++) {
            number += "0";
        }

        var countZero = number.toString().length;
        var res = number.toString().substring(0, countZero - countEndNo) + startNoQty;

        if ($("#txtORInvStrtOR").val() == "") {
            $("#txtORInvEndOR").val("");
        } else {
            $("#txtORInvEndOR").val(res);
        }
    });

    $(document).ready(function () {
        $("#show-button").click(function () {
            $("#_SaveButtonID").show()
            $("#show-button").hide()
        });
        $("#hide-button").click(function () {
            $("#show-button").show()
            $("#_SaveButtonID").hide()
        });
    });

    var ORarray = [];
    var NewORModel = "";
    var m = 0;
    function SaveORTable() {

        var BodyContent = '';
        var x = 1;
        var qty = $("#txtORInvQuantityValue").val();
        var isIssued = "No";
        var StubNum = $("#txtORInvStubNo").val();
        var StrtStub = $("#txtORInvStrtOR").val();
        debugger
        for (i = 1; i <= $('#txtORInvStub').val(); i++) {
            var startStubNoF = parseFloat((qty * (StubNum - 1)) + parseFloat(StrtStub));
            if (startStubNoF < 0) {
                startStubNoF = startStubNoF * -1;
            }
            var EndStubNoF = parseFloat((startStubNoF + parseFloat(qty)) - 1);
            var ORTableDatas =
            {
                "Count": x,
                "StubNum": StubNum,
                "StrtStub": startStubNoF,
                "EndStub": EndStubNoF,
                "formType": $("#AFIDDD option:selected").val(),
                "orDate": $("#txtORInvDate").val(),
                "Quantity": qty,
                "IsIssued": isIssued,
            }
            ORarray.push(ORTableDatas);
            x++;
            StubNum++;
        }
        $.each(ORarray, function (index, value) {
            BodyContent += '<tr><td>' + value.formType + '</td>'
            BodyContent += '<td>' + value.StubNum + '</td>'
            BodyContent += '<td>' + value.StrtStub + '</td>'
            BodyContent += '<td>' + value.EndStub + '</td>'
            BodyContent += '<td>' + value.Quantity + '</td>'
            BodyContent += '<td>' + value.orDate + '</td>'
            BodyContent += '<td>' + value.IsIssued + '</td>'
            BodyContent += '<td><i title="Delete" class=\'ft-delete danger cursor-pointer font-large-1 mr-1\' onclick=\'removeRow(' + index + ' )\'></i></td></tr >'
            x++;
        })
        $('#ORtbody').html(BodyContent);
    }
    function removeRow(index) {
        if (ORarray.length != 1) {
            delete ORarray[index];
            var tempdata = [];
            var y = 1;
            $.each(ORarray, function (index, value) {
                if (value != undefined) {
                    var data =
                    {
                        "Count": y,
                        "StubNum": value.StubNum,
                        "StrtStub": value.StrtStub,
                        "EndStub": value.EndStub,
                        "formType": value.formType,
                        "orDate": value.orDate,
                        "Quantity": value.Quantity,
                        "IsIssued": value.IsIssued,
                    }
                    tempdata.push(data);
                    y++;
                }
            });
            ORarray = [];
            $.each(tempdata, function (index, value) {
                var datas =
                {
                    "Count": x,
                    "StubNum": value.StubNum,
                    "StrtStub": value.StrtStub,
                    "EndStub": value.EndStub,
                    "formType": value.formType,
                    "orDate": value.orDate,
                    "Quantity": value.Quantity,
                    "IsIssued": value.IsIssued,
                }
                ORarray.push(datas);
                var x = 1;
                var BodyContent = '';
                $.each(ORarray, function (index, value) {
                    BodyContent += '<tr><td>' + value.formType + '</td>'
                    BodyContent += '<td>' + value.StubNum + '</td>'
                    BodyContent += '<td>' + value.StrtStub + '</td>'
                    BodyContent += '<td>' + value.EndStub + '</td>'
                    BodyContent += '<td>' + value.Quantity + '</td>'
                    BodyContent += '<td>' + value.orDate + '</td>'
                    BodyContent += '<td>' + value.IsIssued + '</td>'
                    BodyContent += '<td><i title="Delete" class=\'ft-delete danger cursor-pointer font-large-1\' onclick=\'removeRow(' + index + ' )\'></i></td></tr >'
                    $("#ORtbody").html(BodyContent);
                    x++;
                });
            });
        }
        else {
            ORarray = [];
            $('#ORtbody').html("<center><span>No Data Available</span></center>");
        }
    }
    //function UpdateOR(index) {
    //        $("#AFIDDD").val(ORarray[index].formType),
    //        $("#txtORInvStubNo").val(ORarray[index].StubNum),
    //        $("#txtORInvStrtOR").val(ORarray[index].StrtStub),
    //        $("#txtORInvEndOR").val(ORarray[index].EndStub),
    //        $("#txtORInvDate").val(ORarray[index].orDate),
    //        $("#btnSaveTip").text("Save Changes")
    //    TipsButtonFunction = "ORDeleteAdd(" + index + ")"
    //}
    //function ORDeleteAdd(index) {
    //    removeRow(index);
    //    SaveORTable();
    //}
    function SaveBulk() {
        console.log(ORarray);
        debugger
        $.each(ORarray, function (index, value) {
            NewORModel += "<input type='hidden' name='Accountable[" + m + "].AF' value='" + value.formType + "' id='AF" + m + "'/>"
            NewORModel += "<input type='hidden' name='Accountable[" + m + "].DateIssued' value='" + value.orDate + "' id='Date" + m + "'/>"
            NewORModel += "<input type='hidden' name='Accountable[" + m + "].StubNo' value='" + value.StubNum + "' id='StubNo" + m + "'/>"
            NewORModel += "<input type='hidden' name='Accountable[" + m + "].StartingOR' value='" + value.StrtStub + "' id='StartingOR" + m + "'/>"
            NewORModel += "<input type='hidden' name='Accountable[" + m + "].EndingOR' value='" + value.EndStub + "' id='EndingOR" + m + "'/>"
            NewORModel += "<input type='hidden' name='Accountable[" + m + "].Quantity' value='" + value.Quantity + "' id='Quantity" + m + "'/>"
            $("#NewOR").html(NewORModel);
            m++;
        });
        $('#btnSave').click()
    }
</script>

