@model TOSS_UPGRADE.Models.FM_SignatoriesModel
@{
    DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;

@using (Ajax.BeginForm("UpdateSignatories", "FileMaintenanceSignatories", new AjaxOptions { OnSuccess = "AngularGlobalAlertsCallingNoModal('FMSignatoriesController', 'GetListOfSignatories','Signatories Successfully Updated')", OnFailure = "OnFailure()", }))
{

    @Html.HiddenFor(m => m.getSignatoriesColumns.SignatoriesID, new { })
    @Html.HiddenFor(m => m.PositionTempID, new { id = "PositionIDTempID" })
    @Html.HiddenFor(m => m.DepartmentTempID, new { id = "DepartmentIDTempID" })
    <div class="row black">
        <div class="col-md-5 form-group">
            <label><b>Employee Name</b></label>
            @Html.TextBoxFor(m => m.getSignatoriesColumns.SignatoriesName, new { @class = "form-control", type = "text", id = "SignatoriesNameID" })
        </div>
        <div class="col-md-5 form-group">
            <label><b>Preferred Name</b></label>
            @Html.TextBoxFor(m => m.getSignatoriesColumns.PreferredName, new { @class = "form-control", type = "text", id = "PreferredNameID" })

        </div>
        <div class="col-md-2">
            <label><b>Department Head?</b></label>
            <select class="form-control" id="isDeptHeadDD" onchange="IsDeptHeadOnChange()">
                <option value="True">Yes</option>
                <option value="False">No</option>
            </select>
        </div>
        @Html.HiddenFor(m => m.isDeptHeads, new { id = "isDeptHeadID" })

    </div>
    <div class="row black">
        <div class="col-md-5 form-group" id="_DynamicDDPositionNameID">

        </div>
        <div class="col-md-5 form-group" id="_DynamicDDDepartmentID">

        </div>
        <div class="col-md-2">
            <label><b>Is Active</b></label>
            <select class="form-control" id="isActiveDD" onchange="IsActiveOnChange()">
                <option value="True">Yes</option>
                <option value="False">No</option>
            </select>
        </div>
        @Html.HiddenFor(m => m.isActive, new { id = "isActiveID" })
    </div>
    <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-4">
            <div class="form-group" id="_DynamicDDFunctionID">
            </div>
        </div>
        <div class="col-md-4 form-group">
            <label><b>Division</b></label>
            @Html.TextBoxFor(m => m.getSignatoriesColumns.DivisionName, new { @class = "form-control", type = "text", id = "DivisionNameID" })
        </div>
        <div class="col-md-2 form-group">
            <label style="visibility:hidden">Position</label>
            <button class="btn bg-addbutton black form-control" type="submit"><b>Add</b></button>
        </div>
        <div class="col-md-2 form-group">
            <label style="visibility:hidden">Position</label>
            <button type="reset" class="btn bg-headerbc form-control white" onclick="AngularGlobalEdit('FMSignatoriesController','Get_SignatoriesAdd','')"><b>Cancel</b></button>
        </div>
    </div>
}

<script>
    $(function () {
        $("#isDeptHeadDD").val($("#isDeptHeadID").val());
        $("#isActiveDD").val($("#isActiveID").val());
    })
    function IsDeptHeadOnChange() {
        var isDeptHeadValue = $("#isDeptHeadDD").val();
        $("#isDeptHeadID").val(isDeptHeadValue);
    }
    function IsActiveOnChange() {
        var isActiveValue = $("#isActiveDD").val();
        $("#isActiveID").val(isActiveValue);
    }
</script>