@model IEnumerable<TOSS_UPGRADE.Models.FM_Fees.FieldFeeList>
@{
    DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;
<div class="table-responsive">
    <table class="table table-striped table-bordered zero-configuration text-center dataTable table-smss-hover no-footer m-0 w-100">
        <thead>
            <tr>
                <th>Fee Description</th>
                <th>Account Code</th>
                <th>Rate</th>
                <th>Fee Category</th>
                <th>OR Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var Items in Model)
                {
                    var DeleteConfirmationMess = "Are you sure do you want to delete this?";
                    var DeleteSuccesMess = "Successfully Deleted";

                    var ViewEdit = "<button class=\"btn btn-icon btn-block black bg-addbutton border-0\" type=\"button\"onclick=\"AngularGlobalEdit('FMFeeController','Get_UpdateFieldFee','" + @Items.FieldFeeID + "')\"><i class='ft-edit mr-1'></i><b>Edit</b></button>";
                    var ViewDelete = "<button class=\"btn btn-icon white btn-block bg-headerbc  border-0\" type=\"button\" onclick=\"swalConfirmation('" + @DeleteConfirmationMess + "', '','" + @DeleteSuccesMess + "','AngularGlobalDelete(" + @Items.FieldFeeID + ",&quot;Get_DeleteFieldFee&quot;,&quot;FMFeeController&quot;)')\"> <i class='ft-delete mr-1'></i><b>Delete</b></button>";
                    var ActionContentProgram = ViewEdit + ViewDelete;
                    <tr>
                        <td>@Items.FieldFeeDescription</td>
                        <td>
                            @{
                                var SubID = Items.AccountCode;
                                var SubSector = (from e in SISDB.GeneralAccounts where e.GeneralAccountID == SubID select e).FirstOrDefault();
                                var TDValue = "";
                                if (SubSector == null)
                                {
                                    TDValue = "N/A";
                                }
                                else
                                {
                                    TDValue = SubSector.SubMajorAccountGroup.MajorAccountGroup.AccountGroup.AccountGroupCode +"-"+ SubSector.SubMajorAccountGroup.MajorAccountGroup.MajorAccountGroupCode+"-"+ SubSector.SubMajorAccountGroup.SubMajorAccountGroupCode+"-"+SubSector.GeneralAccountCode +" - "+ SubSector.GeneralAccountName;
                                }
                            }
                            @TDValue
                        </td>
                        <td class="text-right">@Items.Rate.ToString("0.00")</td>
                        <td>
                            @{
                                var SubID1 = Items.FeeCategory;
                                var SubSector1 = (from e in SISDB.FeeCategories where e.FeeCategoryID == SubID1 select e).FirstOrDefault();
                                var TDValue1 = "";
                                if (SubSector1 == null)
                                {
                                    TDValue1 = "N/A";
                                }
                                else
                                {
                                    TDValue1 = SubSector1.FeeCategoryName;
                                }
                            }
                            @TDValue1
                        </td>
                        <td>
                            @{
                                var SubID2 = Items.FundType;
                                var SubSector2 = (from e in SISDB.SubFunds where e.SubFundID == SubID2 select e).FirstOrDefault();
                                var TDValue2 = "";
                                if (SubSector2 == null)
                                {
                                    TDValue2 = "N/A";
                                }
                                else
                                {
                                    TDValue2 = SubSector2.Fund.FundName +" - "+ SubSector2.SubFundName;
                                }
                            }
                            @TDValue2
                        </td>
                        <td>
                            <button type="button" onfocusout="PopoveLostFocus()" class="btn btn-sm btn-warning popover-trigger" data-toggle="popover" data-content="@ActionContentProgram"
                                    data-original-title="" data-html="true" data-placement="right">
                                <i class="la la-bars"></i>
                            </button>
                        </td>
                    </tr>
                }   
            }
        </tbody>
    </table>
</div>
<script>
    $(function () {
        LoadDataTable();
        LoadPopOver();
    })
</script>