@model TOSS_UPGRADE.Models.FM_Fees.FM_Fees_Fee
@{
                /**/

                DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;

@using (Ajax.BeginForm("UpdateFieldFee", "FileMaintenanceFees", new AjaxOptions { OnSuccess = "AngularGlobalAlertsCallingNoModalNoSuccessWithDoubleFunc('FMFeeController','Get_FeeTable','UpdateMessageBox')", OnFailure = "OnFailure()", }))
{
    @Html.HiddenFor(m => m.getFieldFeecolumns.FieldFeeID, new { })
    @Html.HiddenFor(m => m.RevisionYearTempID, new { id = "RevisionYearTempID" })
    @Html.HiddenFor(m => m.FundTypeTempID, new { id = "FundTypeTempID" })
    @Html.HiddenFor(m => m.AccountCodeTempID, new { id = "AccountCodeTempID" })
    @Html.HiddenFor(m => m.FeeCategoryTempID, new { id = "FeeCategoryTempID" })
    <div class="row">
        <div class="col-md-2 col-sm-3">
            <div class="form-group" id="_DDRevisionYrID">
            </div>
        </div>
        <div class="col-md-5 col-sm-3">
            <div class="form-group">
                <label>Fee Description</label>
                @Html.TextBoxFor(m => m.getFieldFeecolumns.FieldFeeDescription, new { @class = "form-control", type = "text" })
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="form-group" id="_DDFundTypeID">
            </div>
        </div>
        <div class="col-md-2 col-sm-3">
            <div class="form-group">
                <label>Rate</label>
                @Html.TextBoxFor(m => m.getFieldFeecolumns.Rate, new { @class = "form-control text-right", type = "text", id = "_RequiredID", @disabled = "disabled" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-sm-3">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group" id="_DDAccountCodeID">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Sub Code</label>
                        <input type="text" class="form-control" name="name" value="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="form-group" id="_DDFeeCategoryID">
            </div>
        </div>
        <div class="col-md-4 col-sm-3">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label style="visibility:hidden">Account Code</label>
                        <button type="button" class="form-control black bg-addbutton" data-toggle="modal" data-target="#addFeeCategoryModal" onclick="AngularGlobalView('FMFeeController','Get_FeeCategoryTable','')"><b>New Category</b></button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>With OR Required</label>
                        <select class="form-control" onchange="IsRequiredOnChange()" id="_WithRequiredIDD">
                            <option value="False">No</option>
                            <option value="True">Yes</option>
                        </select>
                        @Html.HiddenFor(m => m.isRequired, new { id = "isRequiredID" })
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-8"></div>
        <div class="col-md-2 col-sm-2 text-right">
            <div class="form-group">
                <button type="submit" class="bottom-right form-control black bg-addbutton"><b>Save</b></button>
            </div>
        </div>
        <div class="col-md-2 col-sm-2 text-right">
            <div class="form-group">
                <button type="reset" class="bottom-right form-control bg-headerbc white" onclick="AngularGlobalEdit('FMFeeController','Get_AddFees','')"><b>Cancel</b></button>
            </div>
        </div>
    </div>
}
<script>
    $(function () {
        $("#_WithRequiredIDD").val($("#isRequiredID").val());
        IsRequiredOnChange()
    })
    function IsRequiredOnChange() {
        var isRequiredValue = $("#_WithRequiredIDD").val();
        if (isRequiredValue == "False") {
            $('#_RequiredID').removeAttr('disabled');
            $("#isRequiredID").val(isRequiredValue);
        } else if (isRequiredValue == "True") {
            $('#_RequiredID').prop('disabled', true);
            document.getElementById("_RequiredID").value = "";
            $("#isRequiredID").val(isRequiredValue);
        }
    }
</script>
